$brown: #996600;  // "Background"
$yellow: #FFCC00; // "Foreground"
$orange: #FFAA00; // "Buzzer"
$black: #000000;  // "Silence"



// bootstrap variables. see http://getbootstrap.com/customize/#less-variables
$brand-primary: $brown;
$navbar-inverse-bg: $black;
$navbar-inverse-link-active-bg: lighten($navbar-inverse-bg, 10%);
$code-color: $brown;
$code-bg: rgba($orange, 0.3);

$brand-info: $yellow;
$state-info-text: $black;
$state-info-bg: $yellow;
$state-info-border: darken($state-info-bg, 7%);
