// see https://atmospherejs.com/reywood/bootstrap3-sass
 @import "bootstrap/variables.import.less";
// @import "/.meteor/packages/bootstrap3-less/bootstrap.import.less";
// @import ".meteor/packages/bootstrap3-less/lib/less/theme.import.less";

body { padding-top: 50px; }
.navbar { margin-bottom: 0; }
iframe { display: inline-block; }


body {
	font-size: 15px;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


.jumbotron {
	background-color: #fff;
	background-image: url(/images/gplay.png);
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */


	box-shadow: 0 1px 10px 0 rgba(200, 200, 200, 0.5);

}

.page-header {
	margin-top: 65px;
}
.page-header:first-child {
	margin-top: 40px;
}


.btn-nav {
	margin: 8px 10px !important;
	padding: 6px 12px !important;
}
.btn-nav.btn-info {
	color: @btn-info-color !important;
	background-color: @btn-info-bg !important;
	&:hover {
		background-color: lighten(@btn-info-bg, 10%) !important;
	}
}
.btn-info:hover {
	background-color: lighten(@btn-info-bg, 10%) !important;
}


.content a {
    text-decoration: underline;
}


.faq-answer {
    width: 90%;
    min-width: 320px;
    margin: 0 auto;
}

.content-game-details {
    
}

.content {
    min-height: 600px;
}
