<template name="home">

	{{> jumbotron}}

	<div class="container">
		{{> rules}}
		{{> chip8Overview}}
		{{> faq}}
	</div>
</template>


<template name="jumbotron">

<div class="jumbotron" style="text-align: center;">

<div class="container">
	<p>

		{{> octoEmbed gist='937cbcb434cc72b286fb' scale='4' link='false'}}

	</p>

	<h1>Octo-ber Jam 2014</h1>

	<p>Chip8 is a language that let programmers write portable games for 8-bit home computers in the 1970s. Today, Chip8 lives on in the form of emulators.</p>

	<p><a href="http://johnearnest.github.io/Octo/" alt="Link to Octo IDE">Octo</a> is a tool that makes it easy to write and share Chip8 programs. Roll up your sleeves and join us for a retro game-jam celebrating Chip8!</p>

</div>
</div>

</template>
