<template name="home">
	<h1>Octo-ber Jam 2014</h1>
	<p>Chip8 is a language that let programmers write portable games for 8-bit home computers in the 1970s. Today, Chip8 lives on in the form of emulators.</p>

	<p>[insert an iframe with a demo game of some kind or maybe I'll just make an animated logo]</p>

	<p><a href="https://github.com/JohnEarnest/Octo" alt="Link to Octo Github">Octo</a> is a tool that makes it easy to write and share Chip8 programs. Roll up your sleeves and join us for a retro game-jam celebrating Chip8!</p>
</template>
