<template name="wallpaper">
	<!-- cave a833793082d98eaa905d
	whipwar b819b801dd338a198dda
	outlaw 9ab5111fe8ee37c52088
	chopper b4a78479030e68f241a2 -->

	{{> smile}} {{> cave}}  {{> outlaw}} {{> chopper}}
	{{> smile}} {{> cave}}  {{> outlaw}} {{> chopper}}
	{{> smile}} {{> cave}}  {{> outlaw}} {{> chopper}}
	{{> smile}} {{> cave}}  {{> outlaw}} {{> chopper}}
	{{> smile}} {{> cave}}  {{> outlaw}} {{> chopper}}

	{{> smile}} {{> cave}}  {{> outlaw}} {{> chopper}}
	{{> smile}} {{> cave}}  {{> outlaw}} {{> chopper}}
	{{> smile}} {{> cave}}  {{> outlaw}} {{> chopper}}
	{{> smile}} {{> cave}}  {{> outlaw}} {{> chopper}}
	{{> smile}} {{> cave}}  {{> outlaw}} {{> chopper}}

</template>

<template name="smile">
	<iframe
		src="http://johnearnest.github.io/Octo/embed.html?scale=1&gist=080ccbf4d01bba5affcb"
		frameborder="0"
		marginheight="0"
		marginwidth="0"
		scrolling="no"
		seamless="true"
	></iframe>
</template>

<template name="cave">
	<iframe
		src="http://johnearnest.github.io/Octo/embed.html?scale=1&gist=a833793082d98eaa905d"
		frameborder="0"
		marginheight="0"
		marginwidth="0"
		scrolling="no"
		seamless="true"
	></iframe>
</template>

<template name="chipwar">
	<iframe
		src="http://johnearnest.github.io/Octo/embed.html?scale=1&gist=b819b801dd338a198dda"
		frameborder="0"
		marginheight="0"
		marginwidth="0"
		scrolling="no"
		seamless="true"
	></iframe>
</template>

<template name="outlaw">
	<iframe
		src="http://johnearnest.github.io/Octo/embed.html?scale=1&gist=9ab5111fe8ee37c52088"
		frameborder="0"
		marginheight="0"
		marginwidth="0"
		scrolling="no"
		seamless="true"
	></iframe>
</template>

<template name="chopper">
	<iframe
		src="http://johnearnest.github.io/Octo/embed.html?scale=1&gist=b4a78479030e68f241a2"
		frameborder="0"
		marginheight="0"
		marginwidth="0"
		scrolling="no"
		seamless="true"
	></iframe>
</template>
