<template name="chip8Overview">
	<h2 class="page-header">Chip8 Overview</h2>

	<p><a href="http://en.wikipedia.org/wiki/CHIP-8" target="_blank" alt="Wikipedia page for Chip8">Chip8</a> has a monochrome display which is 64 pixels wide and 32 pixels tall, a 16-key keypad and 3584 bytes of RAM. SuperChip8 is a series of extended instructions for Chip8 which add the ability to scroll the screen and draw on a higher resolution 128 pixel by 64 pixel display. SuperChip instructions are all fair game!</p>

	<p><a href="https://github.com/JohnEarnest/Octo" target="_blank">Octo</a> is programming language for creating Chip8 games, and it comes with a web-based IDE and Chip8 emulator, documentation and a bunch of examples. <a href="https://github.com/JohnEarnest/Octo/blob/gh-pages/docs/BeginnersGuide.md" target="_blank">The Beginner's Guide</a> in the Octo documentation provides a starting point.</p>

	<p>Check out <a href="http://chip8.com" target="_blank">Chip8.com</a> for a comprehensive archive of existing Chip8 games and programs.</p>
</template>
