<template name="faq">
	<h2 class="page-header">Frequently Asked Questions</h2>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Do I have to use Octo?</h3>
		</div>
		<div class="panel-body">
			Not at all- if you want to use other tools like <a href="https://groups.google.com/forum/#!topic/comp.sys.hp48/ECWLEZIhgio" target="_blank">CHIPPER</a> or write something totally new, go hog wild! Octo's emulator will be used for the gallery, but you can import a binary created elsewhere by turning it into a bunch of hex constants and pasting it into the Octo editor.
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Chip8 specifications online have inconsistencies. How do I know which one to use?</h3>
		</div>
		<div class="panel-body">
			Octo's emulation aims to be compliant with the descriptions of Chip8 described in the article <a href="http://mattmik.com/chip8.html">Mastering Chip8</a> by Matthew Mikolay, which we believe is the most accurate source available. SuperChip8 instructions behave as described <a href="http://code.google.com/p/chip8emu/source/browse/trunk/CHIP8/CHIPPER/CHIPPER.DOC?r=6" target="_blank">here</a> or in Octo's <a href="https://github.com/JohnEarnest/Octo/blob/gh-pages/docs/Manual.md" target="_blank">manual</a>.
		</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">The original Chip8 interpreter let you use <a href="http://en.wikipedia.org/wiki/RCA_1802" target="_blank">RCA 1802</a> machinecode to speed up your programs and do crazy tricks.<br/>RCA 1802s were used in space exploration! Can we write code that could run in <strong>SPACE</strong>?</h3>
		</div>
		<div class="panel-body">
			Maybe next year. Unfortunately, most Chip8 emulators today don't support RCA 1802 emulation and it could interact in odd ways with SuperChip instructions.
		</div>
	</div>

</template>
