<template name="gameItem">

	<div class="game game-item one-fourth">
		<h4 class="title">Game Title</h4>
		<h5 class="author">Ian Douglas</h5>
		<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ea ut cumque vero adipisci, minima labore iste tempore sapiente sit dolorum sed harum, temporibus, cum accusamus aut possimus nam id? Eligendi, minus quisquam praesentium dolores quis omnis numquam debitis provident. Rem veniam a quasi error, dolorum incidunt ipsam debitis velit numquam, quia quibusdam ut distinctio natus harum delectus maiores ipsa atque deserunt iste asperiores. Dignissimos, provident voluptatibus hic tenetur fugiat maxime pariatur, dicta. Quisquam soluta deleniti, vero cumque! Velit consequuntur quos officia sapiente natus ducimus quibusdam similique est voluptatibus eligendi eius nam, nisi aliquam totam autem magni quis saepe animi.</div>
	</div>

</template>
