<template name="gameListItem">

	<div class="game game-item">
		<h4 class="title"><a href="{{pathFor 'gameDetails'}}">{{title}}</a></h4>
		<h5 class="author">{{author}}</h5>

		<iframe
			src="/embed.html?scale=2&gist={{gist}}"
			frameborder="0"
			marginheight="0"
			marginwidth="0"
			scrolling="no"
			seamless="true"
			width="256"
			height="128"
		></iframe>

		<div><small><a href="http://johnearnest.github.io/Octo/index.html?gist={{embedId}}">Source</a></small></div>

	</div>

</template>
