<template name="gameDetails">
	<div class="container">
	{{#if title}}
		<center>
			<h1 class="page-header">{{title}}</h1>

			<h3>
				{{authorDisplayName}}
				{{#if canEdit}}
					<small><a href="{{pathFor 'editGame'}}">(Edit)</a></small>
				{{/if}}
			</h3>

			{{> octoEmbed gist=embedId scale=4 width="100%" padding=200 link=false allowfullscreen=true}}

			<br/><br/>

			<div>{{{description}}}</div>

			<br/><br/>

			<div><small><a href="http://johnearnest.github.io/Octo/index.html?gist={{embedId}}">Source</a></small></div>

		</center>
		<br/><br/>
		{{> comments}}
	{{/if}}
	</div>
</template>
