<template name="gameListItem">

	<div class="game game-item one-fourth">
		<h4 class="title">{{title}}</h4>
		<h5 class="author">{{author}}</h5>
		<details>
			<summary><small>Debug Info</small></summary>
			<div><small>Debug author (from helpers): {{author}}</small></div>
			<div><small>Debug _id: {{_id}}</small></div>
			<div><small>Debug embedId: {{embedId}}</small></div>
			<div><small>Debug status: {{status}}</small></div>
			<div><small>Debug gameId: {{gameId}}</small></div>
			<div><small>Debug userId: {{userId}}</small></div>
			<div><small>Debug createdAt: {{createdAt}}</small></div>
			<div><small>Debug updatedAt: {{updatedAt}}</small></div>
		</details>
		<div class="description">{{description}}</div>
	</div>

</template>
