<template name="newGame">

	<h1 class="page-header">Submit Your Game</h1>

	{{#if currentUser}}
		{{> newGameForm}}
	{{else}}
		<div class="alert alert-success">Please log in to submit a game!</div>
	{{/if}}

</template>

<template name="newGameForm">
	{{#autoForm collection="Games" id="insertGame" type="insert"}}
		<fieldset>
			{{> afQuickField name='title'}}
			{{> afQuickField name='embedId'}}
			<div class="help-block">In the Octo editor, click on the <strong>Share</strong> to get a page you can share (its URL will look like <code>http://<wbr/>johnearnest.github.io/<wbr/>Octo/<wbr/>index.html?gist=b49ce7d5359a4f9152b2</code>). Use the characters located after "gist". (in previous example, <code>b49ce7d5359a4f9152b2</code>)</div>
			{{> afQuickField name='description'}}
		</fieldset>
		<button type="submit" class="btn btn-primary" disabled>Submit</button>
		<br/>
		<em>Jam is now closed to new submissions!</em>
	{{/autoForm}}

</template>
